<div class="section group">

<div class="col span_1_of_3 mobile_full" >

<h2 class="rss-block-header recasp" ><a href="/recasp/">RECASP Journal</a></h2>
<p><div class="feedzy-rss" style="height:62em" style="height:62em">
[wpv-view name="recasp-feed"]</div>
<a class="read-more right-arrow go-to" href="/recasp/">Go to RECASP Journal</a></p>
<p class="rss-gray-spacing"> </p>


<h2 class="rss-block-header working-papers"><a href="/working-papers/">Working Papers</a></h2>
<p><div class="feedzy-rss" style="height:67em">
[wpv-view name="working-papers-feed"]</div>
  <a class="read-more right-arrow go-to" href="/working-papers/">Go to Working Papers</a></p>
<p class="rss-gray-spacing"> </p>

</div>



<div class="col span_1_of_3 mobile_full" >

<h2 class="rss-block-header blog"><a href="/blog/">Blog</a></h2>
<p><div class="feedzy-rss" style="height:62em">
[wpv-view name="blog-feed"]</div>
  <a class="read-more right-arrow go-to" href="/blog/">Go to Blog</a></p>
<p class="rss-gray-spacing"> </p>


<h2 class="rss-block-header forum"><a href="https://capitalaspower.com/casp-forum">Forum</a></h2>
<p><div class="feedzy-rss" style="height:67em">
[wpv-view name="forum-feed"]</div>
<a class="read-more right-arrow go-to" href="/casp-forum">Go to Forum</a></p>
  <!--new forum feed link https://capitalaspower.apps01.yorku.ca/casp-forum/feed -->
<p class="rss-gray-spacing"> </p>
</div>


<div class="col span_1_of_3 mobile_full" >

<h2 class="rss-block-header publications"><a href="/publications/">Publications</a></h2>
<p><div class="feedzy-rss" style="height:62em">
[wpv-view name="publications-feed"]</div>
  <a class="read-more right-arrow go-to" href="/publications/">Go to Publications</a></p>
<p class="rss-gray-spacing"> </p>


<h2 class="rss-block-header archives"><a href="http://bnarchives.yorku.ca/cgi/latest">BN Archives</a></h2>
<p><div class="feedzy-rss" style="height:67em">
[feedzy-rss feeds="http://bnarchives.yorku.ca/cgi/latest_tool?output=RSS2" target="_blank" max="6" feed_title="no" meta="yes" summary="yes" thumb="no" size="50" summarylength="300" ] </div>

<a class="read-more right-arrow go-to" href="http://bnarchives.yorku.ca/cgi/latest" target="_blank" rel="noopener noreferrer">Go to BN Archives</a></p>
<p class="rss-gray-spacing"> </p>


</div>
</div>
